# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    menu.css                                           :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: cnguyen <marvin@42.fr>                     +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2019/12/03 20:26:52 by cnguyen           #+#    #+#              #
#    Updated: 2019/12/03 20:26:53 by cnguyen          ###   ########.fr        #
#                                                                              #
# **************************************************************************** #


.dropbtn {
	background-color: #4CAF50;
	border:none;
  }
  
  .dropdown {
	position: relative;
	display: inline-block;
  }
  
  .dropdown-content {
	display: none;
	position:absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	font-family:'Courier New', Courier, monospace
  }
  
  .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #f1f1f1;}